[Desktop Entry]
Version=1.0
Type=Application
Name=Big Gnome Center
Comment=Compatibility launcher for Big Gnome Center
Exec=big-gnome-center
Icon=big-gnome-center
Terminal=false
Categories=Settings;DesktopSettings;GTK;GNOME;
StartupNotify=true
StartupWMClass=br.com.biglinux.BigGnomeCenter
NoDisplay=true
X-GNOME-UsesNotifications=true
